**.DS_Store
**__pycache__
**.log
**.json
**.config.js

!package.json

.venv
.vscode

# NPM folders
node_modules
build

# secrets file.
config.py

# json database
jsondb

# logging folder
logs